.list {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.5rem;
  overflow-y: auto;
  height: calc(100vh - 178px);
}

.layoutList {
  grid-template-columns: 1fr;
}

.layoutColumn {
  grid-template-columns: 1fr 1fr;
}

.name {
  flex: 1;
}

.input {
  font-weight: 600;
  width: 3em !important;
  font-size: 1.5rem !important;
}
